@{
    ViewBag.Title = "Диалоговое окно";
}
@model Cinema.Models.Detail

    
<div>
    <table>
        <tr>
        <td>
            <img src="/images/pictures/@ViewBag.Detail.LinkPic" class="tdPic" title="Описание заявки" /> 
        </td>
            <td>
                <p>@ViewBag.Detail.Description</p>
            </td>
            </tr>
    </table>
    
    

</div>